/* Navigate */
.airbnb{
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 3px 7px rgb(0,0,0,0.1);
}

.airbnb img{
  width: 9.375rem;
  height: 3.125rem;
}

   /* Gallery */
.gallery img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;

}

.gallery-text {
  padding: 20px;
}

/* Card */
.Card {
  padding: 20px;
  /* display: flex; */
}

.Contactcomp {
  display: flex;
  margin-bottom: 100px;
}

.Balecomp {
  display: flex;

}

.Card-contents {
  padding: 50px;
  margin-left: 30px;
  box-shadow: 1px 2px 1px 5px rgb(242, 241, 241);
}

.card-img {
  width: 170px;
  height: 70%;
  border-radius: 10px;
}


.star-img {
  width: 12px;
  height: 13px;
}

.bale-img {
  width: 270px;
  height: 150px;
  border-radius: 10px;
  padding: 20px;
  
}

.Bale-contents {
  margin: 20px;
  box-shadow: 1px 2px 1px 5px rgb(242, 241, 241);
  background-color:bisque;
}

.Bale-rati {
  color: blueviolet;
}

.Bale-coun {
  color: aqua;
}